* {
    box-sizing: border-box;
  }

html body {
    height: 100vh;
}

.pcol { 
    background-color:mediumpurple;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
p {
    display: inline-block;
}